@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered01 {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 70px;
    top: 50%;
    left: 50%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    transform: translate(-50%, -50%);
}

.temp01 {
    filter: brightness(0.6);
}

.font01 {
    font-weight: 700;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    color: red;

}

.font02 {
    font-size: small;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: red;

}

.font03 {
    font-size: small;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: black;

}

.img2 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.font04 {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-size: 70px;
    color: white;
    font-weight: 550;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.font05 {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-size: 70px;
    color: white;
    font-weight: 550;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.font06 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: whitesmoke;

    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.font07 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    top: 65%;
    left: 28.5%;
    transform: translate(-50%, -50%);
}

.font08 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: white;
    top: 75%;
    left: 18%;
    transform: translate(-50%, -50%);
}

.temp02 {
    filter: brightness(0.4);
}

.img3 {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.temp03 {
    background: white;
    width: 1320px;
    height: 986px;
}

.img4 {
    position: absolute;
    width: 429px;
    height: 433px;

    top: 63.2%;
    left: 81.3%;
    transform: translate(-50%, -50%);
}

.temp04 {
    position: absolute;
    width: 300px;
    height: 300px;

    border-radius: 50% white;

    padding: 15px;
    left: 55%;
    top: 50%;
}
.container01 {
    position: relative;
    text-align: center;
    background-color: black;
    height: 609px;
    width: 1600px;
}
.font09 {
    position: absolute;
    top: 80px;
    left: 86px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:white;

}
.font10 {
    position: absolute;
    top: 80px;
    right: 300px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:white;

}

.font11 {
    position: absolute;
    bottom: 80px;
    left: 86px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:white;

}
.font12 {
    position: absolute;
    bottom: 80px;
    right: 300px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:white;

}
.temp05{
    position: absolute;
    top: 40%;
    left: 5%;
    height: 0.5px;
    width: 1250px;
    background: rgba(255, 255, 255, 0.212);
}
.temp06{
    position: absolute;
    top: 60%;
    left: 5%;
    height: 0.5px;
    width: 1250px;
    background: rgba(255, 255, 255, 0.212);
}
.img5{
    
    position: absolute;
    top: 45%;
    left: 35%;
}
.img6{
    
    position: absolute;
    top: 45%;
    left: 40%;
}
.img7{
    
    position: absolute;
    top: 45%;
    left: 45%;
}
.img8{
    
    position: absolute;
    top: 45%;
    left: 50%;
} 